# Logs
logs
*.log
npm-debug.log*

# node-waf configuration
.lock-wscript

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Runtime data
pids
*.pid
*.seed

# build
htdocs